<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083432560840-pma2ca3jah3dv7b83l07bl6teqm313eg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083432560840-pma2ca3jah3dv7b83l07bl6teqm313eg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1083432560840-jv6pvr9bm67og0ngj0014gkrm8r87fpp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAcjfKYpYGZAs-Ym9VKS2junzie-v5tDDw</string>
	<key>GCM_SENDER_ID</key>
	<string>1083432560840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mareigua.planeo</string>
	<key>PROJECT_ID</key>
	<string>planeo-f0c87</string>
	<key>STORAGE_BUCKET</key>
	<string>planeo-f0c87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083432560840:ios:c327ac2f5cd8e2f36a5dfd</string>
	<key>DATABASE_URL</key>
	<string>https://planeo-f0c87.firebaseio.com</string>
</dict>
</plist>